* { 
box-sizing: border-box;

}

article {
	position: relative;
	background-color: #8080806b;
	margin:10px;
	padding: 40px 0px 0px 0px;
	border:2px black solid;
	border-radius: 2px;
	float:left;

}
p {
	background-color: #8080806b;
	margin:5px;
	padding: 5px;

}
h5 {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 100px;
	height: 30px;
	margin:0px;
	padding: 0px;
	border: 2px black solid;
	float: left;
	text-align: center;
}
.inbox1 {
	background-color:#ffff00;
}
.inbox2 {
	background-color: #2f36ade0;
}
.inbox3{
	background-color: #FF00FF;
}
@media(min-width: 992px)
{
	.outbox1	{
		width: 31%;
	}
	.outbox2	{
		width: 31%;
	}
	.outbox3	{
		width: 31%;
	}	

}

@media (min-width: 768px) and (max-width: 991px){
	.outbox1	{
		width: 47%;
	}
	.outbox2	{
		width: 47%;
	}
	.outbox3	{
		width: 96.5%;
	}	
}
@media (max-width: 767px)
{
	.outbox1	{
		width: 96.5%;
	}
	.outbox2	{
		width: 96.5%;
	}
	.outbox3	{
		width: 96.5%;
	}	
}